@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    /* light mode */
    --background: #F6F6F6;
    --foreground: #1F1F1F;
    --subtle-background: #FFFFFF;
    --muted-text: #5E5E5E;
    --border-subtle: #EFEFEF;
    --cool-blue: #60A5FA;
    --cool-red: #F87171;
}
  
/* @media (prefers-color-scheme: dark) {
  :root {
        --background: #1A1D21;
        --foreground: #E2E5E9; 
        --subtle-background: #1C232D;
        --muted-text: #BCBCBC;
        --border-subtle: #373737;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: Playfair Display;
    font-size: 1.5em;
    font-weight: 500;
}
